.heroInfo {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  position: relative;
  padding: 50px 10px;
  max-width: 500px;
  min-width: 300px;
  width: 190%;
  max-height: 100vh;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
  overflow: hidden;
}

.heroInfo_dark {
  background-color: rgba(0, 0, 255, .2);
  color: white;
}

.heroInfo__close {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  margin: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.heroInfo__close:hover {
  scale: 1.1;
}

.heroInfo__img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.heroInfo__name {
  margin-bottom: 20px;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
}

.heroInfo__descr {
  text-align: left;
  font-size: 12px;
  line-height: 20px;
}