.searchPanel {
  margin: 10px;
  display: flex;
  gap: 10px;
}

.searchPanel__input {
  padding: 5px;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
}

.searchPanel__input_dark {
  background-color: rgb(55, 55, 55);
  color: white;
}